body{
	font-family: "Lucida Console";
	line-height: 1.25;
	margin: 0;
	background-color: white;
}

#logo{
	height: auto;
	width: 175px;
	margin: 0 auto;
	padding: 5px;
}

#background-desktop{
	width: 100%;
	height: auto;
	margin: 0;
	z-index: 0;
	position: fixed;
}

.background{
	width: 100%;
	height: auto;
	position: fixed;
	z-index: 0;
	top: 0;
	left: 0;
	margin: 0;
}

.bottomnav {
	background-color: black;
	overflow: auto;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index:100;
}
.bottomnav a {
	float: right;
	display: inline-block;
	color: #f2f2f2;
	text-align: center;
	padding: 12px 14px;
	text-decoration: none;
	font-size: 20px;
}
.bottomnav a:hover {
	background-color: #ddd;
	color: black;
}

.bottomnav p{
	float: center;
	display: inline-block;
	padding: 12px 14px;
	text-align: center;
	color: #f2f2f2;
}

.content{
	height: 100%;
	background-color: white;
	z-index: 50;
	position: relative;
}

ul{
	top: 35%;
	left: 10%;
	width: 75%;
	z-index: 50;
	vertical-align: middle;
	position: absolute;
	list-style-type: none;
}

li {
	height: 25%;
}

.navui{
	overflow: auto;
	position: fixed;
	top: 0;
	z-index:100;
	width: 100%;
	display: flex;
}

.navui ui{
	list-style-type: none;
	background-color: black;
	position: fixed;
	width: 100%;
	align-items: center;
	display: flex;
}

.navui li{
	display: inline-block;
	height: 100%
}

.navlinks{
	float: center;
	color: white;
	text-align: center;
	padding: 30px 10px;
	text-decoration: none;
	font-size: 20px;
	transition: 0.5s;
}

.navlinks:hover{
	background-color: #b82cb8;
	color: black;
	font-size: 22px;
	font-weight: bold;
	padding: 30px 10px;
}

#topBtn{
	display: none;
	position: fixed;
	bottom: 150px;
	right: 30px;
	z-index: 99;
	border: none;
	border-radius: 50%;
	padding: 15px;
	font-size: 15px;
	color: #f2f2f2;
	background-color: black;
	opacity: 0;
	font-family: 'Press Start 2P', cursive;
	transition: 0.5s
}
#topBtn:hover{
	background-color: #b82cb8;
	color: black;
	font-size: 16.5px;